# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*FruitFreshnessDetector

# ASP.NET generated folders
Uploads/
Outputs/

# Logs & temporary
*.log
*.tmp

# Resharper / Rider
.idea/
*.DotSettings.user

# tar files, e.t.c 
./fruit-backend.tar